<ion-content>
  <div class="header">
    <ion-icon [routerLink]="['../folder/inbox']" class="back" name="chevron-back-outline"></ion-icon>
    <img class="logo" src="../../assets/logo-preto.png">
    <ion-menu-button class="menu"></ion-menu-button>
  </div>

  <div style="margin-top: 30px;" class="container-user">
    <h1 style="text-align: center; ">00000000</h1> 
    <p style="text-align: center; margin-top: 20px;">Name Kiosk</p>
  </div>

  <div class="mg-top-50">
    <ion-input class="input" type="text" placeholder="First Name">
      <ion-icon class="icon" name="person-outline"></ion-icon>
    </ion-input>
    <ion-input class="input" type="text" placeholder="Last Name">
      <ion-icon class="icon" name="person-outline"></ion-icon>
    </ion-input>
    <ion-input class="input" type="text" placeholder="E-mail">
      <ion-icon class="icon" name="at-outline"></ion-icon>
    </ion-input>


    <ion-input class="input mg-top-15" type="text" placeholder="Mobile Number">
      <ion-icon class="icon" name="call-outline"></ion-icon>
    </ion-input>

    <ion-input class="input mg-top-15" type="text" placeholder="ID">
      <ion-icon class="icon" name="logo-paypal"></ion-icon>    </ion-input>
  </div>



</ion-content>