<ion-content>
  <div>
    <img class="logo" src="../../assets/logo.png" alt="">
  </div>
  <div>
    <h1 class="title">
      Hello!
    </h1>
    <h2 class="sub">
      Please choose your language!
    </h2>
  </div>


  <select class="select">
    <!-- <option value="deutsch"> Deutsch</option>
    <option value="english">English</option>
    <option value="français">Français</option>
    <option value="portugues">Português</option>
    <option value="poslki">Polski</option>
    <option value="italiano">Italiano</option> -->
  </select>
  <div>
    <ion-button [routerLink]="['../login']" class="btn">Getting Started</ion-button>
  </div>
</ion-content>