* {
  margin: 0;
  padding: 0;
}

ion-content {
  --background: #000;
}

.logo {
  width: 70%;
  margin-left: 15%;
  margin-top: 50px;
}



.title {
  font-size: 24px;
  margin-left: 30px;
  color: #fff;
  margin-top: 30px;
}

.sub {
  font-size: 18px;
  margin-left: 30px;
  color: #fff;
  margin-top: 10px;
}

.select {
  padding: 10px 20px;
  color: #000000;
  width: 90%;
  margin-left: 5%;
  background-color: #ffd421;
  margin-top: 100px;
  border-radius: 100px;
  border: 0;
}

option {
  width: 100px;
  margin-left: 10%;

}

.btn {
  position: absolute;
  bottom: 50px;
  color: #000000;
  width: 80%;
  height: 55px;
  margin-left: 10%;
}

ion-button {
  --background: #ffd421;
}

ion-item {
  --background: #ffd421;
  --border: 0 !important;
  border-radius: 100px;
  color: #000000;
  font-size: 16px;
}

ion-list {
  --background: #ffd421;
}

.alert-wrapper.sc-ion-alert-ios {
  --background: #ffd421;
}
