<ion-content>
    <div>
      <img class="logo" src="../../assets/logo.png" alt="">
    </div>
    <div>
      <ion-input class="input mg-top-100" type="email" placeholder="E-mail">
        <ion-icon class="icon" name="at-outline"></ion-icon>
      </ion-input>
      <ion-input class="input mg-top-15" type="password" placeholder="Password">
        <ion-icon class="icon" name="lock-closed"></ion-icon>
      </ion-input>
    </div>
    <div>
      <ion-button [routerLink]="['../folder/inbox']" class="btn">Login</ion-button>
    </div>
    <div class="container-forgot">
      <a class="forgot" href="">Forgot Password?</a>
    </div>

    <div class="mg-top-50">
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <div class="back-auth"><img class="google" src="../../assets/google.png" alt=""></div>
          </ion-col>
          <ion-col size="6">
            <div class="back-auth"><img class="facebook" src="../../assets/facebook.png" alt=""></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div>
      <ion-button style="margin-bottom: 30px;" [routerLink]="['../register']" class="btn mg-top-20">Register
      </ion-button>
    </div>
</ion-content>