* {
  margin: 0;
  padding: 0;
}

ion-content {
  --background: #fff;
}

.back {
  position: absolute;
  left: 20px;
  top: 30px;
  color: #2D0C57;
  font-size: 22px;
}

.msg {
  position: absolute;
  right: 60px;
  top: 30px;
  color: #2D0C57;
  font-size: 22px;
}

.header {
  position: relative;
}

.logo {
  width: 30%;
  margin-top: 30px;
  margin-left: 35%;
}

.mail {
  position: absolute;
  right: 20px;
  top: 25px;
  color: #000;
  font-size: 30px;
}

ion-searchbar {
  margin-top: 30px;
  color: #000;
  padding: 0 10px;
  --background: #fff;
  height: 50px;
  border-radius: 100px;
  width: 90%;
  margin-left: 5%;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(227, 227, 227, 1);
  -moz-box-shadow: 1px 1px 5px 0px rgba(227, 227, 227, 1);
  box-shadow: 1px 1px 5px 0px rgba(227, 227, 227, 1);
}


ion-item {
  margin-top: 20px;
  border: 1px solid #DBD8DD;
  border-radius: 5px;
  --background: #dbd8dd34;
  width: 90%;
  margin-left: 5%;
  color: #000;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(227, 227, 227, 1);
  -moz-box-shadow: 1px 1px 5px 0px rgba(227, 227, 227, 1);
  box-shadow: 1px 1px 5px 0px rgba(227, 227, 227, 1);
  
}

ion-item:host{
  border-style: none;
}

ion-select-option {
  border: 0;
}

