<ion-content>
  <div class="header">
    <ion-icon [routerLink]="['../withdrawn']" class="back" name="chevron-back-outline"></ion-icon>
    <img class="logo" src="../../assets/logo-preto.png">
    <ion-icon class="mail" name="mail-outline"></ion-icon>
  </div>

  <div>
    <ion-searchbar></ion-searchbar>
  </div>

  <div>
    <ion-item>
      <ion-select placeholder="Category">
        <ion-select-option >category 1</ion-select-option>
        <ion-select-option >category 2</ion-select-option>
      </ion-select>
    </ion-item>  
  </div>
</ion-content>
