* {
  margin: 0;
  padding: 0;
}

ion-content {
  --background: #fff;
}

.logo {
  margin-top: 50px;
  width: 80%;
  margin-left: 10%;
}

.title {
  color: #3A3B3F;
  font-size: 25px;
  margin-left: 30px;
  margin-top: 10px;


}

.sub {
  margin-left: 30px;
  color: #3A3B3F;
  font-size: 15px;
  margin-top: 10px;
}

.input {
  margin-top: 20px;
  width: 80%;
  margin-left: 10%;
  background-color: #F7F8F9;
  border-radius: 7px;
  padding: 10px 10px !important;
  color: #363636;
}

.icon {
  color: #363636;
  margin-right: 10px;
  font-size: 24px;
}


.select {
  color: #363636;
  margin-top: 20px;
  width: 80%;
  margin-left: 10%;
  background-color: #F7F8F9;
  border-radius: 7px;
  padding: 15px 10px !important;
  border: 0 !important;
}

ion-button {
  --background: #ffd421;
}

ion-item {
  --background: #ffd421;
  --border: 0 !important;
  border-radius: 100px;
  color: #000000;
  font-size: 16px;
}

.mg-top-50 {
  margin-top: 50px;
}



.btn {
  margin-top: 50px;
  margin-bottom: 30px;
  color: #000000;
  width: 80%;
  margin-left: 10%;
  height: 55px;
}
