<ion-content>
  <div>
    <img class="logo" src="../../assets/logo-preto.png">
  </div>
  <div>
    <h1 class="title">
      Create an account
    </h1>
    <p class="sub">
      New Password
    </p>
  </div>
  <div class="mg-top-50">
    <ion-input class="input" type="password" placeholder="New Password">
      <ion-icon class="icon" name="lock-closed"></ion-icon>
    </ion-input>
    <ion-input class="input" type="password" placeholder="Confirm Password">
      <ion-icon class="icon" name="lock-closed"></ion-icon>
    </ion-input>
 
  </div>

  <div>
    <ion-button [routerLink]="['../login']" class="btn">Registrieren</ion-button>
  </div>
</ion-content>